node_modules/
dist/
.__mf__temp/
@mf-types/

.env
.env.local

.idea/
.vscode/
.DS_Store
*.log

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.mf/

# Editor local history
.history/
